/* text */

* , ::before, ::after {
    font-family: Sans-Serif, serif;
    color: #222f3e;
    word-spacing: 2px;
    line-height: 1.4;
    font-size: small;
}

a,
a:focus,
a:hover {
 text-decoration: none;
}
a:link { /* Hyperliens */
    color: cornflowerblue;
}

a:hover { /* Hyperliens */
    color: royalblue;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    height: 400px;
    overflow-x: auto;
    display: block;
}


td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


/* images */
img {
    max-width: 100%;
    height: auto;
}

/* Bootstrap alert - fit the text */
.alert {
  display:inline-block;
}

.dropdown-menu {
    max-height: 50vh;
    overflow-y: auto;
}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

.accordion-body{
    max-height: 50vh;
    overflow-y: auto;
}